
[unix_http_server]
file=/tmp/supervisor.sock   ; (the path to the socket file)
;chmod=0700                 ; socket file mode (default 0700)
chown={{supervisor_user}}:{{supervisor_group}}       ; socket file uid:gid owner
;username=user              ; (default is no username (open server))
;password=123               ; (default is no password (open server))

[inet_http_server]         ; inet (TCP) server disabled by default
port=127.0.0.1:9001        ; (ip_address:port specifier, *:port for all iface)
username={{supervisor_admin}}              ; (default is no username (open server))
password={{supervisor_admin_password}}     ; (default is no password (open server))

[supervisord]
childlogdir={{supervisor_child_log_dir}}
logfile={{supervisor_log_file}} ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10           ; (num of main logfile rotation backups;default 10)
loglevel=info                ; (log level;default info; others: debug,warn,trace)
pidfile=/tmp/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
nodaemon=false               ; (start in foreground if true;default false)
minfds=1024                  ; (min. avail startup file descriptors;default 1024)
minprocs=200                 ; (min. avail process descriptors;default 200)

; the below section must remain in the config file for RPC
; (supervisorctl/web interface) to work, additional interfaces may be
; added by defining them in separate rpcinterface: sections
[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisorctl]
serverurl=unix:///tmp/supervisor.sock ; use a unix:// URL  for a unix socket

{% raw %}
{{range .Groups}}

{{range .Programs}}

[program:{{.Name}}]
command={{.Command}}
redirect_stderr=true

{{end}}

[group:{{.Name}}]
programs={{range $index, $element := .Programs}}{{if $index}},{{end}}{{$element.Name}}{{end}}
priority=999

{{end}}
{% endraw %}