nav.top-nav {
    height: 70px;
    box-shadow: none;
}
header, main, footer {
    padding-left: 190px;
}
a.page-title {
    line-height: 70px;
    font-size: 30px;
}
nav .button-collapse i{
    line-height: 70px;
}

.tabs .indicator {
    background-color: #B2E6F6;
}

.file-field input.file-path {
    margin-left: 100px;
    width: calc(100% - 165px);
    margin-left: 170px;
}

.preloader-top{
  top:12px;
}

iframe{
  width: 1024px;
  margin-top: 20px;
  height: 600px;
}

@media only screen and (max-width: 992px){
    header, main, footer {
        padding-left: 0;
    }
}

@media only screen and (min-width: 993px){
    .container {
        width: 85%;
    }
}
