<div class="card-panel">
  <div class="row">
    <div class="col s12">
      <ul class="tabs teal-text"  style="overflow:hidden;">
        <li class="tab col s6 m4 l3"><a class="teal-text text-darken-1" href="#listfiles">Campaigns</a></li>
        <li class="tab col s6 m4 l3 teal-text text-darken-2"><a class=" teal-text text-darken-2" href="#control-panel">Control Panel</a></li>
      </ul>
    </div>
    <div id="listfiles" class="col s12">
      <div class="row">
        <form class="col s12"  id="campaign-form">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="Description" name="Description" length="100" class="materialize-textarea"></textarea>
              <label for="Description">Campaign Description</label>
            </div>
            <div class="input-field col s6">
              <input id="Src" type="text" class="validate">
              <label for="Src">Source</label>
            </div>
            <div class="input-field col s6" id="FileIDSelect">
              <select id="FileID" name="FileID">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
              </select>
              <label for="FileID">Destination Numbers File</label>
            </div>
            <script id="FileID-template" type="text/x-handlebars-template">
              <select id="FileID" name="FileID">
              {{#each NumFiles}}
                <option value="{{ID}}">{{Name}}</option>
              {{/each}}
              </select>
              <label for="Dst">Destination Numbers File</label>
            </script>
            <div class="input-field col s12">
              <textarea id="Msg" length="500" class="materialize-textarea"></textarea>
              <label for="Msg">Message</label>
            </div>
            <div class="input-field col s6">
              <input type="number" class="validate" id="Priority" name="Priority" />
              <label for="Priority">Priority</label>
            </div>
            <div class="input-field col s6">
              <input type="checkbox" id="IsFlash" />
              <label for="IsFlash">Flash Message</label>
            </div>
            <div class="col s12">
              <div class="input-field col s4">
                <div class="row">
                  <div class="input-field col s12" style="margin-top:0px;">
                    <input id="SendAfter" name="SendAfter" type="text" class="timepicker">
                    <label for="SendAfter" class="active">Send After</label>
                  </div>
                </div>
              </div>
              <div class="input-field col s4">
                <div class="row">
                  <div class="input-field col s12" style="margin-top:0px;">
                    <input id="SendBefore" name="SendBefore" type="text" class="timepicker">
                    <label for="SendBefore" class="active">Send Before</label>
                  </div>
                </div>
              </div>
              <div class="input-field col s4">
                <div class="row">
                  <div class="input-field col s12" style="margin-top:0px;">
                    <button id="clear-send" class="btn teal waves-effect waves-light" type="button">Clear
                      <i class="mdi-content-clear left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="ScheduledAt_date" name="ScheduledAt_date" type="text" class="datepicker">
                  <label class="active" for="ScheduledAt_date">Schedule At</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="ScheduledAt_time" name="ScheduledAt_time" type="text" class="timepicker">
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" type="submit" name="action">Send
                <i class="mdi-content-send right"></i>
              </button>
              <div class="preloader-wrapper small preloader-top">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <a href="#!" onclick="app.renderCampaignList();">Reload</a>
        </div>
      </div>
      <script id="list-campaign-template" type="text/x-handlebars-template">
        <table class="striped responsive-table">
          <thead>
            <tr>
                <th data-field="name">Source</th>
                <th data-field="price">File</th>
                <th data-field="id">Submitted</th>
                <th data-field="id">Scheduled</th>
                <th data-field="id">Send Before</th>
                <th data-field="id">Send After</th>
            </tr>
          </thead>
          <tbody>
            {{#each Campaigns}}
            <tr>
              <td>{{Src}}</td>
              <td>{{FileName}}</td>
              <td>{{prettyDate SubmittedAt}}</td>
              <td>{{prettyDate ScheduledAt}}</td>
              <td>{{SendBefore}}</td>
              <td>{{SendAfter}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </script>
      <div id="list-campaign">
      </div>
    </div>
    <div id="control-panel" class="col s12">
      <div class="row">
        <form class="col s12" id="controlpanel-form">
          <div class="input-field col s12" id="CampaignIDSelect">
            <select id="CampaignID" name="CampaignID">
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
            <label for="CampaignID">Campaign</label>
          </div>
          <script id="CampaignID-template" type="text/x-handlebars-template">
            <select id="CampaignID" name="CampaignID">
              <option value="">--Choose One--</option>
            {{#each Campaigns}}
              <option value="{{ID}}">{{Description}}</option>
            {{/each}}
            </select>
            <label for="CampaignID">Campaign</label>
          </script>
          <div class="input-field col s4">
            <button class="btn teal waves-effect waves-light" id="retrycampaign" name="action">Restart Failed
              <i class="mdi-content-send right"></i>
            </button>
            <div class="preloader-wrapper small preloader-top">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-field col s4">
            <button class="btn teal waves-effect waves-light" id="stopcampaign" name="action">Stop Campaign
              <i class="mdi-content-send right"></i>
            </button>
            <div class="preloader-wrapper small preloader-top">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="input-field col s4">
            <button class="btn teal waves-effect waves-light" id="campaignreport" name="action">Get Report
              <i class="mdi-content-send right"></i>
            </button>
            <div class="preloader-wrapper small preloader-top">
              <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col s12"  id="report-container">
          </div>
          <script id="campaignreport-template" type="text/x-handlebars-template">
            <table class="striped responsive-table">
              <thead>
                <tr>
                    <th data-field="name">Total Records</th>
                    <th data-field="price">Total Messages</th>
                    <th data-field="id">Start Time</th>
                    <th data-field="id">End Time</th>
                    <th data-field="id">Total Time</th>
                    <th data-field="id">Throughput</th>
                    <th data-field="id">Throughput per Connection</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{Total}}</td>
                  <td>{{TotalMsgs}}</td>
                  <td>{{prettyDate FirstQueued}}</td>
                  <td>{{prettyDate LastSent}}</td>
                  <td>{{TotalTime}}</td>
                  <td>{{Throughput}}</td>
                  <td>{{PerConnection}}</td>
                </tr>
              </tbody>
            </table>
          </script>

        </div>
      </div>
    </div>
  </div>
</div>
