<div class="card-panel">
  <div class="row">
    <div id="listfiles" class="col s12">
      <div class="row">
        <form class="col s12" id="files-form" action="javascript:;" enctype="multipart/form-data">
          <div class="row">
            <div class="input-field col s12">
              <div class="file-field input-field">
                <div class="btn">
                  <span>Select File</span>
                  <input name="File" type="file">
                </div>
                <div class="file-path-wrapper">
                  <input disabled="disabled" class="file-path validate" type="text">
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <input id="Description" name="Description" type="text" class="validate">
              <label for="Description">Description</label>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" type="submit">Upload
                <i class="mdi-file-cloud-upload right"></i>
              </button>
              <div class="preloader-wrapper small preloader-top">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <script id="list-files-template" type="text/x-handlebars-template">
        <table class="striped responsive-table">
          <thead>
            <tr>
                <th data-field="id">Name</th>
                <th data-field="name">Description</th>
                <th data-field="price">Added At</th>
            </tr>
          </thead>
          <tbody>
            {{#each NumFiles}}
            <tr>
              <td>{{Name}}</td>
              <td>{{Description}}</td>
              <td>{{prettyDate SubmittedAt}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </script>
      <div id="list-files">
      </div>
    </div>
  </div>
</div>
