<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <form action="/api/user/auth" method="post" class="login-form" id="login-form">
      <div class="row">
        <div class="input-field col s12 center">
          <p class="center login-form-text">Welcome to SMPP Management Solution.<br/>Please login to continue.</p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <input id="username" name="Username" type="text">
          <label for="username" class="center-align">Username</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <input id="password" name="Password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>