<div class="card-panel">
  <div class="row">
    <div id="listfiles" class="col s12">
      <div class="row">
        <form class="col s12"  id="message-form">
          <div class="row">
            <div class="input-field col s6">
              <input id="Src" type="text" class="validate">
              <label for="Src">Source</label>
            </div>
            <div class="input-field col s6">
              <input id="Dst" type="text" class="validate">
              <label for="Dst">Destination</label>
            </div>
            <div class="input-field col s12">
              <textarea id="Msg" length="500" class="materialize-textarea"></textarea>
              <label for="Msg">Message</label>
            </div>
            <div class="input-field col s6">
              <input type="number" class="validate" id="Priority" name="Priority" />
              <label for="Priority">Priority</label>
            </div>
            <div class="input-field col s6">
              <input type="checkbox" id="IsFlash" />
              <label for="IsFlash">Flash Message</label>
            </div>
            <div class="col s12">
              <div class="input-field col s4">
                <div class="row">
                  <div class="input-field col s12" style="margin-top:0px;">
                    <input id="SendAfter" name="SendAfter" type="text" class="timepicker">
                    <label for="SendAfter" class="active">Send After</label>
                  </div>
                </div>
              </div>
              <div class="input-field col s4">
                <div class="row">
                  <div class="input-field col s12" style="margin-top:0px;">
                    <input id="SendBefore" name="SendBefore" type="text" class="timepicker">
                    <label for="SendBefore" class="active">Send Before</label>
                  </div>
                </div>
              </div>
              <div class="input-field col s4">
                <div class="row">
                  <div class="input-field col s12" style="margin-top:0px;">
                    <button id="clear-send" class="btn teal waves-effect waves-light" type="button">Clear
                      <i class="mdi-content-clear left"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="input-field col s6">
              <div class="row">
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="ScheduledAt_date" name="ScheduledAt_date" type="text" class="datepicker">
                  <label class="active" for="ScheduledAt_date">Schedule At</label>
                </div>
                <div class="input-field col s6" style="margin-top:0px;">
                  <input id="ScheduledAt_time" name="ScheduledAt_time" type="text" class="timepicker">
                </div>
              </div>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn teal waves-effect waves-light" type="submit" name="action">Send
                <i class="mdi-content-send right"></i>
              </button>
              <div class="preloader-wrapper small preloader-top">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <a href="javascript:app.renderMessageList();">Reload</a>
        </div>
      </div>
      <script id="list-message-template" type="text/x-handlebars-template">
        <table class="striped responsive-table">
          <thead>
            <tr>
                <th data-field="name">Source</th>
                <th data-field="price">Destination</th>
                <th data-field="id">Status</th>
                <th data-field="id">Error</th>
                <th data-field="id">Queued</th>
                <th data-field="id">Sent</th>
                <th data-field="id">Delivered</th>
            </tr>
          </thead>
          <tbody>
            {{#each Messages}}
            <tr>
              <td>{{Src}}</td>
              <td>{{Dst}}</td>
              <td>{{Status}}</td>
              <td>{{Error}}</td>
              <td>{{prettyDate QueuedAt}}</td>
              <td>{{prettyDate SentAt}}</td>
              <td>{{prettyDate DeliveredAt}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </script>
      <div id="list-message">
      </div>
    </div>
  </div>
</div>
