<div class="card-panel">
  <div class="row">
    <div id="listfiles" class="col s12">
      <div class="row">
        <button class="btn lighten-2 waves-effect waves-light right" onclick="app.checkServices();" name="action">Check Status
          <i class="mdi-content-send right"></i>
        </button>
        <form class="col s12"  id="services-form">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="Config" class="materialize-textarea"></textarea>
              <label for="Config">Configuration JSON</label>
            </div>
            <div class="input-field col s12">
              <br/>
              <button class="btn red lighten-2 waves-effect waves-light" type="submit" name="action">Submit
                <i class="mdi-content-send right"></i>
              </button>
              <div class="preloader-wrapper small preloader-top">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <div class="card red lighten-3 white-text">
                <div class="card-content">
                  This restarts workers. Any pending messages by workers not defined in updated configuration will get aborted.
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
